h1{
  font-weight: bold;
}
h2{
  text-align: center;
  font-size: 2.4em;
  font-weight: bold;
}
.line{
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #ddd;
}
.intro{
  text-align: center;
  font-weight: bold;
  /*font-size: 1.2em;*/
}
.slick-slide img{
  width: 100%!important;
}
/*使うか未定*/
.container{
  width: 1200px;
  margin: 0 auto;
}
.btn{
  color: #fff;
  display: inline-block;
  margin: 20px 0;
  padding: 10px 50px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}
.topBtnMargin{
  margin-top: 30px!important;
}
.black{
  background-color: #1b1b1b;
}
.black:hover{
  background: #fff;
  color: #1b1b1b;
}
.red{
  background-color: #57C6BE;
}
.redtxt{
  color:#ff5a5f!important;
}
.red:hover{
  background: #f3f3f3;
  color: #57C6BE;
}
.t-cell{
  display: table-cell;
  vertical-align: middle;
  background-color: #353535;
  color: #fff;
}
.mainIntro{
  text-align: center;
  width: 90%;
  margin: 0 5%;
  line-height: .5;
  padding: 20px 0 40px 0;
}
#small-intro {
}
.sp {
	display: none!important;
}
.smaller{
  font-size: 16px;
}
.moreSmall{
  font-size: 13px;
}
.spvideo{
  display: none!important;
}
.bx-wrapper .bx-controls-direction a{
  z-index: 10!important;
}
.stars{
  color: #ffde15;
}
.smaller-about{
  font-size: .7em;
}
.backColor{
  background-color: #f8f7f4!important;
  height: auto;
}
/*********************
ギャラリー
*********************/
#gallery{
  background-color: #fff;
  /*background: linear-gradient(#05FBFF, #1E00FF);*/
}
.floatleft{
  top: 30%!important;
}
.tourism_txt{
  /*top:20%!important;*/
  text-align: center;
  width: 100%!important;
  display: inline-block;
  float: left;
}
.sightTxt{
  font-size: 1.6em!important;
}
.tourism_video{
  width: 47%!important;
  /*margin: 0 30%;*/
  display: inline-block;
  position: absolute;
  /*top: 120px;*/
  right: 50px;
}
.tourism_video video{
  /*display: inline-block!important;*/
  position: relative!important;
  width: 100%!important;
}
.tourism_video .videoWrap{
  width: auto!important;
  position: relative!important;
}
.tourism_video #videoDesc{
  height: 0%!important;
  top: 200px!important;
  color: #fff!important;
}
.tourism_video #videoDesc h3{
  color: #fff;
}
.galleryVideo{
  position: relative;
  display: block;
  width: 70%;
  margin: 0 15%;
}
#gallery section{
  width: 70%;
  margin: 0 15%;
  padding-top: 0px;
  color: #fff;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 39.25%;
}
.videoWrap{
    width: 100%;
    /*margin: 0 15%;*/
    /*padding-bottom: 41.25%;*/
    position: absolute;
    -webkit-transition: height .5s,padding .2s;
    transition: height .5s,padding .2s;
    height: 100%;
    background: #000;
    display: block;
}
#videoDesc{
  position: absolute;
  margin: auto;
  top: 0;
  height: 35%;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#videoDesc h3{
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
#videoDesc p{
  font-size: 50px;
}
#gallery video{
  /*display: block;*/
  width: 100%;
  opacity: 0.8;
  /*margin: 0 15%;*/
}
#gallery h2{
  /*color: #f6ed1c;*/
  padding: 100px 0;
}
.gallerys_img{
  padding: 30px;
  background-color: #ddd;
}
.col-gal-3{
  width: 33.33333%;
  /*height: 350px;*/
  float: left;
}
.gal{
  width: 12%;
  display: inline-block;
}
#gallery img{
  width: 100%;
}
#gallery img:hover{
  opacity: 0.8;
}
.headTitle{
  width: 59.5555555%;
  display: inline-block;
}
.headImg{
  width: 39.555555555%;
  display: inline-block;
}
.bx-wrapper .bx-prev{
  left: -70px!important;
}
.bx-wrapper .bx-next{
  right: -70px!important;
}
/*********************
ナビゲーション
*********************/
#responseMenu{
  display: none;
}
.nav{
  /*background: #F8F7F4;*/
  min-height: 40px!important;
  max-height: 40px;
  margin: 0;
  border: none!important;
  box-shadow: none!important;
  border-radius: 0!important;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  color: #fff;
}
.headlogo{
  width: 100px;
  margin-top: 4px;
}
.tel{
	font-family: "HalisR-Regular","Twcent";
	font-weight: normal!important;
	font-size: .8em!important;
	line-height: 1em!important;
	/*color: #757575!important;*/
}
.nav_logo{
  width: 63px;
  height: 40px;
  display: block;
  float: left;
  margin-left: 40px;
  line-height: 40px;
  position: absolute;
  text-decoration: none!important;
  color: #fff;
}
.nav_header{
  display: inline-table!important;
  text-align: center;
  float: none;
  vertical-align: top;
  letter-spacing: .1em!important;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.nav_header ul{
  width: 80%;
  margin: 0 10%;
}
.nav_header li{
  margin: 0 2%;
  display: inline-block;
  min-height: 40px;
  vertical-align: text-top;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
  background-color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  color: #484848!important;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.lang{
  /*float: right;*/
  padding: 6.3px 20px 6px 20px;
  height: 100%;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.lang li {
  float: left;
  padding-right: 5px;
}
.lang img{
  width: 25px;
  vertical-align: middle;
}
/*
.lang ul li ul{
  margin-top: 20px;
}
.lang ul li ul li{
  display: none;
  background-color: #fff;
  padding: 10px 5px 10px 20px;
  border: 1px solid #eee;
}
.lang a{
  color: #484848;
}
*/
.lang img:hover{
  opacity: 0.8;
}
#responseMenu a{
  color: #484848!important;
}
#hamburgerContent{
  display: none;
}
.footerNav{
  width: 100%;
  background-color: #fff;
  position: fixed;
  height: 40px;
  bottom: 0;
  left:0;
}
.footerNav ul{
  width: 50%;
  margin: 0 25%;
  display: inline-block;
  min-height: 40px;
}
.footerNav li{
  width: 49.5%;
  height: 100%;
  padding-top: 8px;
  min-height: 32px;
  text-align: center;
  float: left;
  color: #fff;
}
.foCon{
  background-color: #57c6be;
}
.foTel{
  background-color: rgb(87, 161, 198);
}
/*********************
ヘッド
*********************/
#head{
  position: relative;
  top: -10px;
  left: 0;
  width: 100%;
  height: 634px;
  overflow: hidden;
  text-align: center;
}
#twoContent{
  overflow: hidden;
  width: 50%;
  float: left;
  text-align: center;
  height: 634px;
  margin-top: -50px;
}
.golCasiHeadHeight{
  height: 430px!important
}
.twoText{
  margin-top: 230px;
}
.twoText h1{
  color: #fff;
  font-size: 3.5em;
  text-transform: uppercase;
  line-height: .8;
}
.twoText p{
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;
}
#head video{
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: auto;
  right: auto;
  background-size: cover;
  /*-webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);*/
}
.video_txt{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1;
  left: 0;
  top: 40%;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.video_txt h1{
  color: #fff;
  font-size: 3.5em;
  text-transform: uppercase;
}
.video_txt img{
  width: 400px;
}
.video_txt p{
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
  width: 80%;
  margin: 0 10%;
}
/*********************
アバウト
*********************/
.aboutImg{
  /*display: table;*/
  /*background: url('../images/THS_Pattaya_Image3.jpg');*/
  background: linear-gradient(-45deg, rgba(240, 225, 121, 0.49), rgba(92, 95, 97, 0.5)),url(../images/THS_Pattaya_Image3.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 60px 0;
}
.aboutContent{
  /*display: table-cell;*/
  display: inline-block;
  font-weight: bold;
  width: 70%;
  margin: 0 15%;
}
.aboutContent p {
  font-size: 1.5em;
  color: #fff;
}
#aboutus{
  /*background-color: #353535;*/
  /*color: #fff;*/
  width: 80%;
  margin: 0 10%;
}
#aboutus h3{
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
#aboutus table{
  midth: 60%;
  margin: 50px 20%;
}
#aboutus tr{
  border-bottom: 1px solid #ddd;
  height: 50px;
}
#aboutus th{
  /*width: 40%;*/
}
#aboutus td{
  /*padding-left: 20px;*/
  text-align: center;
}
.leftabout{
  width: 49%;
  display: inline-block;
  margin-top: 30px;
}
.person{
  width: 32.33333%;
  /*border: 1px solid #ddd;*/
  background-color: #eee;
  height: 170px;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.person img{
  width: 100%;
  min-height: 100%;
  -moz-transition: -moz-transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
}
.person .caption {
	font-size: 13px;
	text-align:	center;
  padding-top: 90px;
	color: #fff;
  text-align: left;
}
.person .caption p{
  margin: 0 5px;
}
.person .caption .name{
  border-bottom: 1px solid #ccc;
  line-height: 18px;
  font-size: 23px;
  padding-bottom: 9px;
}
.person .caption .position{
  font-size: .9em;
  line-height: 13px;
  margin-top: 5px;
}
.person .mask {
	width: 100%;
	height:	100%;
	position:	absolute;	/* 絶対位置指定 */
	top: 0;
	left:	0;
	opacity: 0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:	all 0.2s ease;
}
.person:hover .mask {
	opacity: 1;	/* マスクを表示する */
}
.person:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.rightabout{
  vertical-align: top;
  width: 48%;
  display: inline-block;
  margin-top: 30px;
  padding: 0 1%;
}
.rightabout h4{
  font-size: 1.6em!important;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}
#aboutus h5{
  font-size: 1.3em!important;
  font-weight: bold;
  color: #57C6BE;
}
.rightabout .halisRegular{
  font-size: 1em!important;
  line-height: 1.2em!important;
  /*margin: 30px 0;*/
}
.yellow{
  color: #ffc104;
}
.blue{
  color: #57C6BE;
}
.green{
  color: #57c687;
}
.planP{
  text-align: left;
}
/*********************
お問い合わせ
*********************/
#contact{
  background-color: #F8F7F4;
}
#contact p {
	text-align: center;
}
.form-group{
  width: 40%;
  margin: 0 30%;
}
.form-group input,.form-group textarea{
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ddd;
  padding-left: 5px;
}
.form-group input[type="submit"]{
  background-color: #57C6BE;
  padding: 10px 0;
  width: 70%;
  margin: 20px 15% 0 15%;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  transition: 0.4s;
}
.form-group input[type="submit"]:hover{
  background-color: #fff;
  color: #57C6BE;
}

/*********************
フッター
*********************/
footer{
  background-color: #353535;
  color: #fff;
  padding: 50px 0;
}
footer .halisRegular{
  color: #fff!important;
}
.links{
  width: 80%;
  margin: 0 10%;
}
.col-fo-5{
  width: 50%;
  display: inline-block;
}
.col-fo-5 img, .col-fo-5 p{
  width: 60%;
  margin: 0 20%;
}
.col-fo-5 h4{
  width: 80%;
  padding-bottom: 0px;
  margin: 0 10% 10px 10%;
  border-bottom: 1px solid #fff;
}

.col-fo-2{
  width: 20%;
  display: inline-block;
}
.col-fo-2 img, .col-fo-2 p{
  width: 60%;
  margin: 0 20%;
}
.col-fo-2 h4{
  width: 60%;
  padding-bottom: 0px;
  margin: 0 20% 10px 20%;
  border-bottom: 1px solid #fff;
}
.col-fo-1{
  width: 13%;
  display: inline-block;
  vertical-align: top;
}
.col-fo-1 h3{
  font-weight: bold;
  font-size: 1.1em;
  color: #989898;
}
.social{
  width: 80%;
  margin: 20px 10% 0 10%;
  border-top: 1px solid #ddd;
}
.social h3{
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 20px;
}
.social ul{
  text-align: center;
}
.social li{
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  margin: 10px 20px;
  transition: 0.4s;
}
.col-fo-1 li a{
  color: #fff;
}
.col-fo-1 li a:hover{
  color:#ffc104;
}
.twitter:hover{
  color: #00aced!important;
}
.insta:hover{
  color: #3f729b!important;
}
.facebook:hover{
  color: #315096!important;
}
.google:hover{
  color: #dd4b39!important;
}
.youtube:hover{
  color: #cd201f!important;
}
.tripAdvisor:hover{
  color: #589442!important;
}
