/*
Theme Name: THS
Theme URI:
Author:Mocha Inc.
Author URI: http://mochainc.co.jp
Description:none
Version: 1.0
*/
@font-face {
	font-family: 'HalisR-Bold';
	src: url('../font/30F49C_0_0.eot');
	src: url('../font/30F49C_0_0.eot?#iefix') format('embedded-opentype'),
	url('../font/30F49C_0_0.woff') format('woff'),
	url('../font/30F49C_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'HalisR-Medium';
	src: url('../font/30F49C_1_0.eot');
	src: url('../font/30F49C_1_0.eot?#iefix') format('embedded-opentype'),
	url('../font/30F49C_1_0.woff') format('woff'),
	url('../font/30F49C_1_0.ttf') format('truetype');
}
@font-face {
	font-family: 'HalisR-Regular';
	src: url('../font/30F49C_2_0.eot');
	src: url('../font/30F49C_2_0.eot?#iefix') format('embedded-opentype'),
	url('../font/30F49C_2_0.woff') format('woff'),
	url('../font/30F49C_2_0.ttf') format('truetype');
}
@font-face {
	font-family: 'Twcent';
	src: url('../font/twcenmtstd-bold-webfont.eot');
	src: url('../font/twcenmtstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../font/twcenmtstd-bold-webfont.woff') format('woff'),
	url('../font/TwCenMTStd-Bold.ttf') format('truetype');
}
html {
    background: #fff;
}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,select,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    line-height: 1.9em;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
		width: 100%;
}
fieldset,img {
    border: 0;
}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var {
    font: inherit;
}
li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400;
}
q:after,q:before {
    content: '';
}
sub,sup {
    vertical-align: baseline;
}
body,
html {
    width: 100%;
    height: 100%;
    font-family: "Twcent","Halislar","游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #717171;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
		letter-spacing: 0.1em;
}
.halis_bold{
	font-family: 'Twcent';
}
.halisRegular{
	font-family: "HalisR-Regular","Twcent";
	font-weight: normal!important;
	font-size: .8em!important;
	line-height: 2em!important;
	color: #757575!important;
}
a {
    text-decoration: none;
    color: #fff;
}
p a {
    text-decoration: underline;
    transition: all 0.2s;
}
p a:hover {
    opacity: 0.8;
}

.grayBack{
	background-color: #edefed;
}
.padding{
	padding: 50px 0;
}
.clear{
	clear: both;
}
.center{
	text-align: center!important;
}
.textright{
	text-align: right!important;
}
.bigger{
	font-size: 3em!important;
	line-height: 1.5em;
}
.middle{
	font-size: 1.6em!important;
        line-height: 2em;
}
.regular{
	font-size: 2em!important;
}
