.resortBack{background-color:#fff;background-size:cover;background-position:center;}
.golffirstback{background-color:#518e4b;background-size:cover;background-position:center;}
.golfBack{background:url('../images/THS_Golf_2.jpg');background-size:cover;background-position:center;}
.sightseeingBack{background:linear-gradient(-45deg, rgba(150, 44, 93, 0.9), rgba(193, 216, 102, 0.9)),url(../images/THS-Sightseeing_top.jpg);background-size:cover;background-position:center;}
.casinofirstback{background-color:#db5454;background-size:cover;background-position:center;}
.casinoBack{background:linear-gradient(-45deg, rgba(28, 33, 2, 0.8), rgba(234, 243, 163, 0.42)),url('../images/THS_Casino.png');background-size:cover;background-position:center;}
.contactBack{background:url('../images/20.jpg');background-size:cover;background-position:center;}
.charterBack{background:url('../images/thaithai.png');background-size:cover;background-position:center;}
.memberBack{background:linear-gradient(-45deg, rgba(28, 33, 2, 0.8), rgba(234, 243, 163, 0.42)),url(../images/membership.png);background-size:cover;background-position:center;}
.detailBack{background-size:cover!important;background-position:center!important;}
.slideBack{background:none;}
.slideBack .video_txt{}
#resorts{width:80%;margin:10px 10%;}
.chartercol{width:30%;height:250px;background-color:#fff;display:inline-block;margin:10px 1.5%;text-align:center;font-weight:bold;font-size:1.1em;overflow:hidden;}
.charterimg{width:100%;height:200px;overflow:hidden;}
.charterimg img{width:100%;height:200px;}
.Gpc{display:block;}
.Gsp{display:none;}
.priceInfo{display:inline-block;width:20%;padding:10px 0;background-color:#5793c6;color:#fff;}
.priceInfo p{text-align:center;font-size:1.2em;padding:0!important;}
.batu{display:inline-block;width:5%;padding:10px 0;text-align:center;vertical-align:super;}
.batu p{font-size:30px;color:#a7a7a7;padding:0!important;}
.golfP{font-size:.8em;width:30%;}
.ssP{margin-bottom:30px;width:25%;}
.scale{width:29%;height:200px;background-color:#000;display:inline-block;margin:10px 1.5%;overflow:hidden;position:relative;}
.scale img{width:100%;min-height:100%;-moz-transition:-moz-transform 0.3s linear;-webkit-transition:-webkit-transform 0.3s linear;-o-transition:-o-transform 0.3s linear;-ms-transition:-ms-transform 0.3s linear;transition:transform 0.3s linear;}
.scale .tt{width:100%;position:absolute;top:0;left:0;z-index:9999;margin-top:20px;}
.scale .caption{font-size:130%;text-align:center;padding-top:90px;color:#fff;}
.scale .mask{width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;background-color:rgba(0,0,0,0.4);-webkit-transition:all 0.2s ease;transition:all 0.2s ease;}
.scale .mask img{min-height:auto;position:absolute;top:0;left:0;width:100%;margin-top:20px;}
.scale:hover .back{}
.scale:hover .mask{opacity:1;}
.spot{font-size:1.5em;}
.spotIntro{font-size:.7em;}
.cellGolf{width:100%;overflow:hidden;transition:0.4s;margin:30px 0;}
.imgCellGolf{width:59%;display:inline-block;overflow:hidden;position:relative;transition:0.4s;}
.imgCellGolf img{width:100%;min-height:100%;-moz-transition:-moz-transform 0.2s linear;-webkit-transition:-webkit-transform 0.2s linear;-o-transition:-o-transform 0.2s linear;-ms-transition:-ms-transform 0.2s linear;transition:transform 0.2s linear;}
.txtCellGolf{width:40%;display:inline-block;vertical-align:top;}
.txtCellGolf li{font-size:1.1em;text-align:center;border-bottom:1px solid #ddd;padding:5px 0;}
#resorts a .txtCellGolf{color:#717171;}
.golfCot{font-size:.9em!important;}
.imgCellGolf{width:59%;display:inline-block;overflow:hidden;position:relative;transition:0.4s;}
.imgCellGolf img{width:100%;min-height:100%;-moz-transition:-moz-transform 0.2s linear;-webkit-transition:-webkit-transform 0.2s linear;-o-transition:-o-transform 0.2s linear;-ms-transition:-ms-transform 0.2s linear;transition:transform 0.2s linear;}
.txtCellGolf{width:40%;display:inline-block;vertical-align:top;}
.cellTourCasi{margin:30px 0;padding-bottom:20px;text-align:center;background-color:#F8F7F4;}
.cellTourCasi h2{margin:10px 0;}
.cellTourCasi p{padding:0 40px;}
.cellTourCasi li{display:inline-block;font-weight:bold;}
.kind_casino{margin-bottom:30px;}
.kind_casino li{width:30%;padding:10px 0;border:1px solid #ddd;margin:5px 0;}
.tourcasiImg{width:100%;height:400px;overflow:hidden;}
.tour001{background:url("../images/bangkok.png");background-size:cover;background-position:center;}
.tour002{background:url("../images/13.png");background-size:cover;background-position:center;}
.tourcasiImg img{}
.on{background-color:#57C6BE;color:#fff;}
.tourcasiInfo{margin-bottom:30px;}
.tourcasiInfo h2{font-size:2em;}
.tourcasiInfo li{width:16%;margin:0 2.5%;padding:10px 0;font-size:1.4em;}
.small{border-top:1px solid #ddd;font-size:.6em;display:block;color:#7d7d7d;}
#member{text-align:center;width:80%;margin:0 10%;}
#member h2{margin:20px 0 50px 0;}
.memcol{margin:30px 0;}
.col-6{width:60%;display:inline-block;vertical-align:top;text-align:left;}
.col-6 h3{margin-bottom:30px;font-size:1.7em;}
.col-6 p{margin:0 50px;}
.col-4{width:39.5555555555%;display:inline-block;width:200px;height:200px;border-radius:50%;}
.mem001{background:url("../images/1_1.png");background-size:cover;background-position:center;}
.mem002{background:url("../images/22.jpg");background-size:cover;background-position:center;}
.yearplan{width:100%;padding:30px 0;background:linear-gradient(-135deg, rgba(228,169,114, 0.8), rgba(153,65,216, 0.42)),url(../images/mem003.png);color:#fff;background-size:cover;background-position:center;text-align:center;}
.yearplan h3{margin-top:30px;font-size:2em;}
.yearplan p{font-size:1.5em;}
#chartercontent{width:80%;padding:50px 10%;background-color:#F8F7F4;}
#chartercontent p{font-family:"HalisR-Regular","Twcent";font-size:.9em;text-align:left;}
#chartercontent table{font-family:"Twcent","游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ';}
#chartercontent table,td,tr{background-color:#fff;border:1px solid #ddd;border-collapse:collapse;}
.charter-table-col{width:50.55555555%;display:inline-block;margin:50px 2% 50px 2%;text-align:center;}
.charter-table-col h3{text-align:left;border-bottom: 1px solid #ddd; margin-top: 20px;}
.kajo td{padding:10px 5px;text-align:left;font-size:.97em;}
.charter-slide-col{width:39.55555555%;display:inline-block;margin:50px 0;text-align:center;vertical-align:top;}
.charter-col{width:49.55555555%;display:inline-block;margin:50px 0;text-align:center;}
.c_intro{text-align:center;}
.charter-col h3{font-size:1.6em;}
.charter-col p{overflow-wrap:break-word;}
.charter-col i{padding-right:10px;font-size:1.3em;}
.half{width:49.5555555555%;background-color:#fff;float:left;vertical-align:top;height:400px;overflow:hidden;}
.half h2{margin-top:30px;}
.half p{overflow-wrap:break-word;width:80%;margin:30px 10% 0 10%;font-size:1.2em;}
.half img{width:100%;}
.fees{width:50%;margin:0 10%;padding-left:15%;text-align:center!important;}
.fee{width:33.222%;float:left;}
.circle_fee{width:120px;height:120px;color:#fff;margin:0 auto;}
.circle_fee p{padding-top:45px;text-align:center!important;width:100%!important;margin:0!important;font-size:1.25em!important;}
.fee{text-align:center!important;width:20%!important;}
.cross{text-align:center!important;float:left;width:20%!important;height:120px;}
.cross p{text-align:center!important;margin-top:15px!important;font-size:3.5em!important;}
.cross img{padding-top:45px;text-align:center!important;margin:0!important;}
.charterbackimage{background:linear-gradient(-135deg, rgba(86, 86, 86, 0.8), rgba(63, 175, 128, 0.42)),url(../images/priceList.jpg)!important;width:100%;padding:30px 0;color:#fff;background-size:cover!important;background-position:center!important;text-align:center;}
.feecontent{width:60%;margin:30px 20%;}
.feecontent p{font-size:1.25em!important;text-align:center;margin-top:30px;font-family:"Twcent","游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ';}
.feecontent h3{line-height:1;}
.charterbackimage p{}
.charterbackimage h2{font-size:2.3em!important;margin-bottom:20px;}
.ao{background-color:rgba(0, 0, 0, 0.18);}
.aka{background-color:rgba(0, 0, 0, 0.18);}
.mid{background-color:rgba(0, 0, 0, 0.18);}
.resortinfo{width:70%;padding:50px 15%;background-color:#F8F7F4;}
.resortinfo h1{font-size:2.3em;}
.resortinfoTxt{clear:both;font-size:13px;font-family:"Yu Gothic","Twcent";width:50%;margin:0 25%;padding:10px 0!important;font-weight:bold;color:#fff;background-color:#5793c6;}
.pattaya{width:45%!important;float:left;margin:0!important;padding:10px 2.5%!important;}
.pattayaBtn{float:right;margin-left:20px;margin-top:20px;}
#detailContent{width:70%;margin:0 15%;}
#detailContent h2{margin:80px 0 30px 0;}
#detailContent h3{font-weight:bold;font-size:1.4em;border-bottom:1px solid #ddd;margin-bottom:30px;}
#detailContent p{margin:30px 0;}
#detailContent img{width:100%;}
.membership_example{
  width: 100%;
  height: 350px;
  background-size: contain;
  background-position: left;
}
.right{
  float: right;
}
.left{
  float: left;
}
.membership_example .text_area{
  width: 300px;
  height: 100%;
  background: rgba(255,255,255,.9);
}
.membership_example .text_area table{
  height: 100%;
}
.membership_example .text_area table, .membership_example .text_area table th,  .membership_example .text_area table td{
  background: none;
  border: none;
  font-weight: bold;
}
.membership_example .text_area table .course_name_member{
  font-size: 28px;
}
.member_golf_001{
  background: url('../images/g002.png') no-repeat;
  background-size: cover;
  background-position: center;
}
.member_golf_002{
  background: url('../images/g005.png') no-repeat;
  background-size: cover;
  background-position: center;
}
