.grid figure{position:relative;float:left;overflow:hidden;margin:10px 1%;min-width:320px;max-width:480px;max-height:360px;width:48%;background:#3085a3;text-align:center;cursor:pointer;}
.grid figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:0.8;}
.grid figure figcaption{color:#fff;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h2{word-spacing:-0.15em;font-weight:300;text-align:left;}
.grid figure h2 span{font-weight:800;}
.grid figure h2,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;font-size:58.5%;}
figure.effect-lily img{max-width:none;width:-webkit-calc(100% + 50px);width:calc(100% + 50px);opacity:0.7;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-40px,0, 0);transform:translate3d(-40px,0,0);}
figure.effect-lily figcaption{text-align:left;}
figure.effect-lily figcaption > div{position:absolute;bottom:0;left:0;width:100%;height:50%;}
figure.effect-lily h2,
figure.effect-lily p{-webkit-transform:translate3d(0,40px,0);transform:translate3d(0,40px,0);}
figure.effect-lily h2{
  font-family: "Twcent";
}
figure.effect-lily p{
  font-family: "halisR-Regular","游ゴシック体", "Yu Gothic", YuGothic,"Twcent";
}
figure.effect-lily h2{-webkit-transition:-webkit-transform 0.35s;transition:transform 0.35s;}
figure.effect-lily p{opacity:0;-webkit-transition:opacity 0.2s, -webkit-transform 0.35s;transition:opacity 0.2s, transform 0.35s;}
.effectBtn{color:#fff;background-color:#57C6BE;display:inline-block;padding:5px 10px;}
figure.effect-lily:hover img,
figure.effect-lily:hover p{opacity:1;}
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-lily:hover p{-webkit-transition-delay:0.05s;transition-delay:0.05s;-webkit-transition-duration:0.35s;transition-duration:0.35s;}
