@media screen and (max-width: 960px){
  /*ナビゲーションをハンバーガーにするんやで*/
  #nav{
    display: none;
  }
  #responseMenu{
    display: block;
    min-height: 40px!important;
    max-height: 40px;
    margin: 0;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    /*color: #fff;*/
    background-color: #fff;
  }
  #responseMenu .headlogo{
    position: absolute;
    top:5px;
    left:10px;
    width: 14%;
  }
  #langmenu {
    display: none;
  }
  #responseMenu .lang{
    position: absolute;
    top: 5px;
    right:10px;
    padding: 0;
  }
  .hamburger{
    position: absolute;
    top: 3px;
    right: 50px;
    font-size: 1.5em;
  }
  #hamburgerContent{
    position: fixed;
    top:40px;
    width: 100%;
    height: auto;
    z-index: 9999;
    color: #fff;
    background-color: #57C6BE;
  }
  #hamburgerContent li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  #closeBtn{
    display: none;
  }
  .aboutContent{
    width: 60%;
    margin: 0 20%;
    color: #fff;
  }
  .aboutContent p{
    font-size: .9em!important;
    text-align: center;
  }
  #aboutus{
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  #aboutus h2{
    font-size: 1.7em!important;
  }
  #aboutus h3{
    font-size: 1.1em;
  }
  #aboutus h4{
    font-size: 1.5em!important;
  }
  .leftabout, .rightabout{
    width: 100%;
  }
  .person{
    width: 33.3333333%;
    float: left;
    height: auto;
    margin-bottom: -10px;
    background: none;
  }
  .person:hover img{
    transform:none;
  }
  .person .mask{
    opacity: 1;
    top: 68%;
    background-color: rgba(0,0,0,0.2);
  }
  .person .caption{
    padding-top: 10px;
    font-size: .9em;
  }
  .person .caption p{
    margin: 0;
  }
  .person .caption .name{
    font-size: 17px;
    line-height: 11px;
  }
  .fees {
    width: 100%;
    height: 100px;
    /*padding: 0%!important;*/
    padding-left: 0%;
    padding-bottom: 20px;
    margin: 0 0;
  }
  .fee {
    height: 10px;
    width: 100px;
    margin: 5% 5%;
  }
  .circle_fee {
    width: 90px;
    height: 90px;
  }
  .circle_fee p {
    text-align: center!important;
    width: 100%!important;
    /*margin: 0!important;*/
    padding-top: 35px!important;
    font-size: 1em!important;
  }
  .cross {
    width: 4%!important;
  }
  .cross p{
    margin-top: 34px!important;
    font-size: 2.8em!important;
  }
  .feecontent {
    width: 95%;
    margin: 10% 2.5%;
  }
  .feecontent h3 {
    font-size: 1.5em;
  }
  .feecontent p {
    margin-top: 5px;
    font-size: 1em!important;
  }
}
@media screen and (max-width: 768px){
  .video_txt img{
    width: 40%;
    margin: 0 30%;
  }
  #responseMenu .headlogo{
    position: absolute;
    top:5px;
    left:10px;
    width: 8%;
  }
  .bx-wrapper .bx-prev{
    left: 10px !important;
  }
  .bx-wrapper .bx-next{
    right: 10px !important;
  }
  html{
    /*overflow: hidden;*/
  }
  body{
    font-size: 12px;
    overflow-x: hidden;
    /*max-width: 100%;*/
  }
  /*基本要素*/
  h2{
    font-size: 1.5em;
  }
  .smaller{
    font-size: 12px;
  }
  .resortPack li{
    width: 22.3333333333%!important;
  }
  .topBtnMargin{
    margin-top: 230px!important;
  }
  .padding{
    padding: 20px 0;
  }
  #head video{
    display: none;
  }
  #spVideo video{
    display: block!important;
    position: relative;
    /*width: 100%;*/
    z-index: 100;
    top: -70px;
    height: 100px;
    max-width: 100%;
    /*margin-top: 10px;*/
  }
  .topLogoPosition{
    top: 15%!important;
  }
  /*ナビゲーションをハンバーガーにするんやで*/
  #nav{
    display: none;
  }
  #responseMenu{
    display: block;
    min-height: 40px!important;
    max-height: 40px;
    margin: 0;
    border: none!important;
    box-shadow: none!important;
    border-radius: 0!important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    /*color: #fff;*/
    background-color: #fff;
  }
  #responseMenu .headlogo{
    position: absolute;
    top:5px;
    left:10px;
    width: 14%;
  }
  .top30{
    top: 30%!important;
  }
  #langmenu {
    display: none;
  }
  #responseMenu .lang{
    position: absolute;
    top: 5px;
    right:10px;
    padding: 0;
  }
  .hamburger{
    position: absolute;
    top: 3px;
    right: 50px;
    font-size: 1.5em;
  }
  #hamburgerContent{
    position: fixed;
    top:40px;
    width: 100%;
    height: auto;
    z-index: 9999;
    color: #fff;
    background-color: #57C6BE;
  }
  #hamburgerContent li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    text-align: center;
  }
  #closeBtn{
    display: none;
  }
  #head{
    height: 450px;
  }
  .video_txt{
    top:45%;
  }
  .video_txt h1{
    font-size: 2em;
  }
  .video_txt img{
    width: 50%;
    margin: 0 25%;
  }
  .video_txt p{
    font-size: 1.5em;
  }
  .bigger{
    font-size: 2em!important;
  }
  .middle{
    font-size: 1.2em!important;
  }
  .mainIntro{
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 1.2;
    padding: 0 0 20px 0;
  }
  .leftIntro img{
    width: 90%;
    margin: 0 5%;
  }
  #tours{
    width: 100%;
    margin: 0;
  }
  .left, .right, .textbox{
    width: 50%;
    /*float: left;*/
    /*margin-top: 20px;*/
  }
  .textbox{
    padding: 0;
  }
  .textbox p{
    margin: 20px;
  }
  .top{
    margin-bottom: -11px;
  }
  .left{
    float: right!important;
  }
  .bottom{
    margin-top: -10px!important;
  }
  .casinoT{
    float: right!important;
  }
  .cT{
    font-size: 1em!important;
  }
  .cellTourCasi{
    margin: 30px 0 0 0;
  }
  .cellTourCasi h2{
    margin: 0;
  }
  .whiteback{
    left: 50%!important;
    width: 50%!important;
    font-size: 11px!important;
  }
  .whiteback p{
    padding: 10px;
  }
  .grid figure p{
    font-size: 100%;
  }

  #points{
    /*padding: 30px 0 0 0!important;*/
  }
  .icons{
    width: 100%;
    margin: 0;
    padding-top: 30px;
  }
  .col-onetime{
    height: auto;
    /*width: 100%;*/
  }
  .col-onetime h3{
    font-size: 1em;
  }
  .col-onetime p{
    font-size: .7em;
    width: 90%;
    margin: 0 5%;
    /*margin-bottom: 30px;*/
  }
  .onetimecontent{
    padding-top: 0;
  }
  .onetimecontent p{
    font-size: 1em;
  }
  .col-mems{
    width: 100%;
    margin: 0;
  }
  .col-mem-left{
    width: 100%;
    float: none;
    background-position: center;
    /*margin-top: 30px;*/
  }
  .col-mem-right{
    width: 100%;
    margin-top: -10px;
    height: 200px;
  }
  #gallery h2{
    margin: 20px 0;
  }
  #gallery section{
    width: 100%;
    margin: 0;
    padding-bottom: 55.25%;
  }
  .videoWrap{
    display: none;
  }
  #videoDesc{
    /*display: none;*/
  }
  /*.pcvideo{
    display: none!important;
  }
  .spvideo{
    display: block!important;
  }*/
  #videoDesc h3{
    font-size: 15px;
  }
  #videoDesc p{
    font-size: 20px;
  }
  .bx-wrapper .bx-controls-direction a{
    display: none;
  }
  .gal{
    width: 50px;
  }
  .socialTxt{
    width: 49%;
    margin: 0;
  }
  .socialTxt p{
    margin: 0 0 20px 0;
    font-size: .9em;
  }
  .bx-wrapper{
    width: 90%;
  }
  .aboutContent{
    width: 60%;
    margin: 0 20%;
    color: #fff;
  }
  .aboutContent p{
    font-size: .9em!important;
    text-align: center;
  }
  #aboutus{
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  #aboutus h2{
    font-size: 1.7em!important;
  }
  #aboutus h3{
    font-size: 1.1em;
  }
  #aboutus h4{
    font-size: 1.5em!important;
  }
  .leftabout, .rightabout{
    width: 100%;
  }
  .person{
    width: 33.3333333%;
    float: left;
    height: auto;
    margin-bottom: -10px;
    background: none;
  }
  .person:hover img{
    transform:none;
  }
  .person .mask{
    opacity: 1;
    top: 68%;
    background-color: rgba(0,0,0,0.2);
  }
  .person .caption{
    padding-top: 10px;
    font-size: .9em;
  }
  .person .caption p{
    margin: 0;
  }
  .person .caption .name{
    font-size: 17px;
    line-height: 11px;
  }
  .rightabout h4{
    font-size: 1.3em!important;
  }
  .rightabout h5{
    font-size: 1.2em!important;
  }
  .links{
    display: none;
  }
  .social{
    border: none;
  }
  .social h3{
    margin: 0;
  }
  .social li{
    font-size: .9em;
    margin: 5px;
  }
  .sp {
    display: block!important;
  }
  .pc {
    display: none!important;
  }
  #lang-dropdown li{
    float: left;
    clear: left;
    width: 100%;
  }
  .lang-img {
    float: right;
  }
  .dropdown-content {
    position: relative;
  }

  /*
   チャーターページ
  */
  #chartercontent {
    padding: 0%!important;
    width: 100%;
  }
  #chartercontent h2 {
    padding: 20px;
    line-height: 1.3;
  }
  .charterbackimage h2 {
    margin-bottom: 0px;
  }
  .charterbackimage p {
    font-size: 1em;
  }
  .charter-slide-col {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .charter-table-col {
    width: 95%;
    text-align: center;
    margin: 0 2.5% 5% 2.5%;
  }
  .charter-table-col p{
    /*margin-top: 20px;*/
  }
  .charter-gallery {
    padding-bottom: 20px;
  }
  .charterHalf .half{
    width: 100%;
    margin: 10px 0;
    height: auto;
  }
  .kajo td{
    font-size: .8em;
  }
  .half h2 {
    margin: 5px 0;
    /*font-size: 1.25em;*/
    line-height: 1.25em;
  }
  .topMar{
    margin-top: -10px!important;
    margin-bottom: 0!important;
  }
  .spMar{
    margin-bottom: 0!important;
  }
  .spMar img{
    margin-bottom: -10px;
  }
  .half p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.0em;
    line-height: 1.0em;
  }
  .fees {
    width: 100%;
    height: 100px;
    /*padding: 0%!important;*/
    padding-left: 0%;
    padding-bottom: 20px;
    margin: 0 0;
  }
  .fee {
    height: 10px;
    width: 100px;
    margin: 5% 5%;
  }
  .circle_fee {
    width: 90px;
    height: 90px;
  }
  .circle_fee p {
    text-align: center!important;
    width: 100%!important;
    /*margin: 0!important;*/
    padding-top: 35px!important;
    font-size: 1em!important;
  }
  .cross {
    width: 4%!important;
  }
  .cross p{
    margin-top: 34px!important;
    font-size: 2.8em!important;
  }
  .feecontent {
    width: 95%;
    margin: 10% 2.5%;
  }
  .feecontent h3 {
    font-size: 1.5em;
  }
  .feecontent p {
    margin-top: 5px;
    font-size: 1em!important;
  }
  .form-group {
    width: 80%;
    margin: 10px 10%;
  }
  /*リゾート*/
  #resorts .scale{
    width: auto;
  }
  #resorts{
    width: 90%;
    margin: 10px 5%
  }
  #spFlightTour{
    display: block;
  }
  #flightTour{
    display: none;
  }
  .spTourCell{
    max-width: 100%;
    margin: 0;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .spTourCell img{
    max-height: 100%;
    opacity: 0.7;
  }
  .spTourWrap p{
    margin: 10px 2px;
  }
  .spTourCell figcaption{
    position: absolute;
    top: 200px;
    z-index: 100;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .spTourCell figcaption h2{
    font-size: 2.1em;
  }
  .tourcasiImg{
    /*height: auto;*/
  }
  .tourcasiInfo{
    margin-bottom: 5px;
  }
  .ssP{
    margin-bottom: 10px;
  }
  .tourcasiInfo li{
    width: 29.333333%;
    text-align: center;
    margin: 0 1.1%;
    font-size: 1em;
  }
  .cellTourCasi p{
    padding: 0 20px;
  }
  .planP{
    text-align: center;
  }
  .resortinfo{
    width: 90%;
    padding: 50px 5%;
    text-align: center;
  }
  .resortinfoTxt{
    font-size: 11px;
  }
  /*サイトシーイング*/
  .floatleft{
    top: 15%!important;
  }
  .tourism_txt{
    width: auto!important;
    float: none;
  }
  .sightTxt{
    font-size: 1.4em!important;
  }
  .tourism_video{
    width: 100%!important;
    /*position: relative;
    margin: -30px 0 0 0;*/
    position: absolute;
    top: 0;
    margin: 0;
    /*text-align: center;*/
    right: 0!important;
  }
  /*カジノ*/
  #twoContent{
    margin-top: 0;
    width: auto;
    overflow: auto;
    height: 225px;
    text-align: center;
    float: none;
  }
  .auto{
    height: auto!important;
  }
  .golCasiHeadHeight{
    height: 330px!important;
  }
  .twoText{
    margin-top: 23px!important;
  }
  .twoText p{
    font-size: 1.3em;
  }
  .casinofirstback{
    margin-top: 225px!important;
  }
  .casinoBack{
    margin-top: -450px!important;
  }

  .pattaya{
    width: 50%!important;
    float: none;

  }
  #detailContent .half{
    width: 100%;
    float: none;
    height: auto;
    margin: 20px 0;
  }
  .scale .tt {
    height: 30%;
  }
  .Gpc{
    display: none;
  }
  .Gsp{
    display: block;
  }
  .priceInfo{
    width: 27.1%;
  }
  .priceInfo p{
    font-size: 1em;
  }
  .pattayaBtn{
    float: none;
    margin: 20px 0;
  }
  .moreSmall{
    font-size: 10px;
    display: none;
  }
  .batu{
    vertical-align: middle;
    padding: 0px 0 3px 0;
  }
  .batu p{
    font-size: 20px;
  }
  /*ごるふ*/
  .imgCellGolf, .txtCellGolf{
    width: 100%;
  }
  .cellGolf{
    margin: 20px 0;
  }
  .imgCellGolf img{
    max-width: 100%;
    min-height: inherit;
  }
  .golfCot{
    font-size: .8em!important;
  }
  /*めんばー*/
  #member{
    width: 90%;
    margin: 0 5%;
  }
  #member h2{
    margin: 20px 0;
  }
  .col-4{
    margin: 10px 0;
    width: 250px;
    height: 250px;
  }
  .col-6{
    width: 100%;
  }
  .col-6 h3{
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  figure.effect-lily p{
    opacity: 1;
  }
  figure.effect-lily h2, figure.effect-lily p{
    -webkit-transform: none;
    transform: none;
  }
  .effectBtn{
    font-size: 12px!important;
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -60px!important;
  }
  .bx-wrapper .bx-viewport{
    left: 5px!important;
  }
  .caption{
    text-align: center;
  }
  .nopadding{
    padding: 0;
  }
  #detailContent{
    width: 90%;
    margin: 0 5%;
  }
  .detailBack{
    margin-bottom: -10px;
  }
  .form-group input[type="submit"]{
    -webkit-appearance: none;
  }
}
@media screen and (max-width: 640px){
  #responseMenu .headlogo{
    position: absolute;
    top:5px;
    left:10px;
    width: 20%;
  }
  .person{
    width: 50%;
    height: 170px;
    margin: 0;
  }

}
@media screen and (max-width: 320px){
  .person .mask{
      top: 63%;
  }
}
