.chartercol{width:30%;height:200px;background-color:#000;display:inline-block;margin:10px 1.5%;overflow:hidden;}
.chartercol img{width:100%;min-height:100%;}
.bx-wrapper .sns_slider .caption{line-height:1.2;}
#spFlightTour{display:none;}
#tours{width:80%;margin:15px 10%;}
#tours h2{font-size:1.5em;}
#flightTour{padding-top:20px;padding-bottom:20px;}
.top{width:100%;height:250px;background-color:#000;display:inline-block;margin-bottom:-5px;}
.left{background-color:#4a4a4a;width:35%;height:250px;display:inline-block;}
.right{width:35%;icons
height:250px;display:inline-block;}
.bottom{width:100%;height:250px;background-color:#000;display:inline-block;margin-top:-5px;}
.textbox{width:13.4%;height:250px;vertical-align:top;display:inline-block;}
#sightseeing-text{font-size:58.5%; font-family: "HalisR-Regular","游ゴシック体", "Yu Gothic","Twcent";}
#casino-text{font-size:58.5%; font-family: "HalisR-Regular","游ゴシック体", "Yu Gothic","Twcent";line-height: 1.6em;}
.whiteback{left:70%!important;width:30%!important;background-color:#fff;opacity:0.8;}
.whiteback p{opacity:1!important;color:#282828!important;padding:20px;-webkit-transform:translate3d(0,0,0)!important;transform:translate3d(0,0,0)!important;}
.whiteback p:hover{-webkit-transform:none!important;transform:none!important;}
.top figure, .bottom figure{min-width:100%;margin:0;max-height:250px;}
.left figure, .right figure{min-width:100%;max-width:100%;width:100%;height:250px;margin:0;}
#points{background:linear-gradient(-45deg, rgba(44, 150, 116, 0.8), rgba(102, 122, 216, 0.42)),url(../images/3.jpg);background-size:cover;background-position:center;color:#fff;}
.icons{width:1200px;max-width:100%;margin:15px auto;}
.col-onetime{width:33.33333%;height:200px;float:left;}
.col-onetime img{width:60%;margin:0 20%;border-radius:50%;}
.col-onetime h3{font-weight:bold;text-align:center;font-size:1.5em;}
.col-onetime p{text-align:center;font-weight:bold;}
#onetimecharter{background:linear-gradient(-45deg, rgba(108, 206, 236, .6), rgba(243, 112, 116, .6)),url(../images/3.jpg);background-size:cover;background-position:center;width:100%;padding:100px 0;display:table;}
.onetimecontent{text-align:center;padding-top:130px;}
#onetimecharter h3{text-align:center;color:#fff;font-weight:bold;font-size:2em;}
.onetimecontent p{text-align:center;color:#fff;font-weight:bold;font-size:1.2em;}
#membership{padding:40px 0;padding-top:40px;padding-bottom:40px;background-color:#eee;}
#membership h2{text-align:left;font-size:1.8em;}
.col-mems{width:70%;margin:0 15%;}
.col-mem-left{width:66.66667%;float:left;height:300px;display:inline-block;background-image:url(../images/membership.png);background-size:cover;background-position:top;}
.col-mem-right{width:33.333334%;height:300px;display:table;background-color:#fff;}
.col-mem-right h2,.col-mem-right p,.col-mem-right .btn{margin:0 20px;}
.col-mem-right .btn{padding:9px 20px;font-size:14px;margin:10px 20px;}
#socialIcons{width:82%;margin:30px 10%;}
.socialTxt{width:20.555555555%;margin:0 1.9%;display:inline-block;transition:0.4s;}
.socialTxt:hover{opacity:0.8;}
.socialTxt p{margin-top:10px;}
.socialcol{width:100%;}
.s1{background:url(../images/hoge1.png);background-size:cover;background-position:top;}
.s2{background:url(../images/hoge2.png);background-size:cover;background-position:top;}
.s3{background:url(../images/hoge3.png);background-size:cover;background-position:top;}
.s4{background:url(../images/hoge4.png);background-size:cover;background-position:top;}
#teams{width:100%;margin:30px 0%;text-align:center;position:relative;}
.col-team{width:18.555555555%;height:200px;display:inline-block;}
.slide_icon{position:absolute;top:0;right:0;height:150px;width:30px;background-color:rgba(0, 0, 0, 0.5);color:#fff;}
.slide_icon i{margin-top:65px;vertical-align:middle;}
.col-team:hover{opacity:0.8;}
.circle{width:150px;height:150px;margin:0 30px;border-radius:50%;}
.person001{background:url(../images/15.png);background-size:cover;background-position:center;}
.person002{background:url(../images/7.jpg);background-size:cover;background-position:center;}
.person003{background:url(../images/16.png);background-size:cover;background-position:center;}
.person004{background:url(../images/22.jpg);background-size:cover;background-position:center;}
.person005{background:url(../images/23.jpg);background-size:cover;background-position:center;}
#intro{margin-top:30px;display:none;}
.leftIntro{width:100%;overflow:hidden;padding:50px 0 0 0;}
.leftIntro img{width:60%;margin:0 20%;}
.rightIntro{vertical-align:top;padding:0 0 30px 0;}
.rightIntro h3{font-weight:bold;font-size:1.3em;}
.charterBright img{-webkit-filter:brightness(.8);-moz-filter:brightness(.8);-o-filter:brightness(.8);-ms-filter:brightness(.8);}
