/*
Theme Name: THS
Theme URI: http://mochainc.co.jp/
Version: 1.0
*/

/* ----------------------------------------
 * Bx Slider
 * ---------------------------------------- */
.bx-wrapper .bx-viewport {
	border: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.bx-wrapper .bx-viewport .caption {
	color: #717171;
}

.bx-wrapper .sns_slider .caption {
	margin-top: 20px;
}
/*.bx-wrapper .bx-controls-direction .bx-prev.disabled,
.bx-wrapper .bx-controls-direction .bx-next.disabled {
	display: block;
}*/
#next .bx-next {
	display: inline-block;
	height: 100%;
	width: 100%;
	padding-top: 65px;
	box-sizing: border-box;
}
#next .bx-next:last-child {
	display: none;
}

#head .bx-viewport {
	width: 102% !important;
}
.head_slider li {
	/*width: 100% !important;*/
}
.head_slider li img {
	width: 100% !important;
}
.bx-viewport li {
	/*background: rgba(0, 0, 0, 0.3);*/
}

.charter-gallery img {
	max-width: 100%;
}
.charter-gallery li img {
	margin: 0 auto;
	text-align: center;
	/*max-width: 100%;*/
	max-height: 100%;
}
.charter_slider_nav {
	margin-top: 20px;
	text-align: center;
}
.charter-gallery_nav .slick-track {
	text-align: center;
	margin: 0 auto;
}

.spTourCell img {
	/*max-width: 100%;*/
}

@media screen and (max-width: 980px){
	#head .bx-wrapper,
	#head .bx-viewport{
		height: 102% !important;
		margin: 0 !important;
		width: 100%;
	}
	#head .sp-bx-wrapper {
		height: 100%;
	}
	#head .bx-viewport{
		height: 100% !important;
		margin: 0 0 0 -2% !important;
		width: 104%;
		text-align: center;
	}

	.head_slider li {
		/*height: 100% !important;*/
	}
	.head_slider li img {
		width: auto !important;
		max-width: 10000% !important;
		height: 100% !important;
	}
	.slide_icon {
		display: none !important;
	}
	.sp .circle {
		width: 200px;
		height: 200px;
	}

	#gallery .bx-wrapper {
		margin-top: 10px;
		width: 100%;
	}
	#gallery .bx-wrapper .bx-viewport {
		left: 0 !important;
	}

	#social .bx-wrapper {
		/*width: 100%;*/
		margin: 10px auto 20px auto;
	}
	#social .bx-wrapper .bx-viewport {
		left: 0 !important;
		margin: 0 auto;
		/*box-sizing: border-box;*/
		/*margin: 10px auto;*/
	}
	#social .bx-pager {
		margin-top: 30px;
		bottom: -30px !important;
	}
}

/* ----------------------------------------
 * WP-Pagenavi
 * ---------------------------------------- */
#main .wp-pagenavi {
	text-align:center;
	border-top: 2px solid #DCDCDC;
	padding-top: 4%;
}
#main .wp-pagenavi .pages {
	display:none;
}
#main .wp-pagenavi span ,
#main .wp-pagenavi a {
	display:inline-block;
	width:25px;
	margin: 3px;
	padding:2px 0;
	border:#ddd solid 1px;
	background:#F8F8F6;
}
#main .wp-pagenavi .current ,
#main .wp-pagenavi a:hover {
	background:#D9A26D;
	border-color: #D9A26D;
	color: #FFF;
	text-decoration: none;
}

/* ----------------------------------------
 * MW WP Form
 * ---------------------------------------- */
.mw_wp_form_confirm .hidden_confirm ,
.mw_wp_form_confirm .example {
	display:none;
}

/* ----------------------------------------
 * æŠ•ç¨¿ç”»åƒ
 * ---------------------------------------- */
img.alignleft {
	text-align: left;
	max-width: 95%;
}

img.aligncenter {
	display: block;
	margin: 1px auto;
	max-width: 95%;
}

img.alignright {
	display: block;
	margin: 1px 1px 1px auto;
	max-width: 95%;
}

.wp-caption {
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px 0;
   /* optional rounded corners for browsers that support it */
   -moz-border-radius: 3px;
   -khtml-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   max-width: 95%;
   overflow: hidden;
}

.wp-caption img {
   margin: 0;
   padding: 0;
   border: 0 none;
   max-width: 95%;
}

.wp-caption p.wp-caption-text {
   font-size: 11px;
   line-height: 17px;
   padding: 1%;
   margin: 0;
}
